body {
  display: flex;
  flex-direction: column;
  font-family: 'Poltawski Nowy', serif;
  background-color: #718fbf;
}

.header {
  background-color: #465e85;
  color: beige;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  
  }

